<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594956975659-o59npeptrglbldos1354a3q2th1kh5d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594956975659-o59npeptrglbldos1354a3q2th1kh5d1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>594956975659-h347252u06cc7t1pdbvhlaj7steat4dt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu2MZRe57P3OBQZYBngdG42HLTqSzL3oM</string>
	<key>GCM_SENDER_ID</key>
	<string>594956975659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wantorestaurantApp</string>
	<key>PROJECT_ID</key>
	<string>wantorest-v0-0-1</string>
	<key>STORAGE_BUCKET</key>
	<string>wantorest-v0-0-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594956975659:ios:0e6622f92217d2f446346e</string>
</dict>
</plist>